@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    width: 100%;
    height: 100vh;
}

header ul {
    display: flex;
    list-style: none;
}

.links-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    height: 20%;
}

.link-1 a {
    color: #03045E;
    text-decoration: none;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    padding: 5px 5px;
    border-radius: 2px;
}

.link-1 a:hover {
    border-bottom: 2px solid #03045E;
}

.logo h2 {
    font-size: 50px;
    color: #03045E;
}

.logo i {
    animation: h2Rotate 3s linear 0s infinite normal forwards;
}

@keyframes h2Rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

.principal-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.escrito-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color:#003B47;
    width: 400px;
}

#icon-colchete {
    color: #03045E;
}

.escrito-header h1 {
    color: #03045E;
    font-size: 50px;
    padding-right: 2px;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: myAnim 0.8s ease 0s infinite normal forwards;
    border-right: 2px solid #03045E; 
}

.typing {
    animation: typing 3s ease 5ms 1 normal forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 450px;
    }
}

@keyframes myAnim {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

.botao button{
    height: 50px;
    width: 220px;
    cursor: pointer;
    background-color: #03045E;
    color: #CAF0F8;
    border: none;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    transition: 0.5s;
}

.botao button:hover {
    background-color: rgba(1, 1, 97, 0.774);
}

.imagem-header {
    width: 300px;
}

.imagem-header img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #03045E;
    box-shadow: -1px 5px 100px 1px #000;
    transition: 0.5s;
}

.imagem-header img:hover{
    transform: scale(1.05);
}

/*** FIM HEADER ***/




/* PRIMEIRA PARTE MAIN */
.main {
    background-color: #1A374D;
    display: flex;
    flex-direction: column;
}

.introducao-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 120px;
    width: 100%;
}

.titulo h2{
    border-bottom: 3px solid #B1D0E0;
    font-size: 50px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
    color: #B1D0E0;
}

.titulo .barra{
    border: none;
    background-color: #B1D0E0;
    color: #B1D0E0;
    width: 180px;
    height: 3px;
    margin: 0 auto;
}

.titulo {
    margin-bottom: 50px;
}

.descricao {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-descricao {
    width: 20%;
    height: 300px;
}

.img-descricao img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(-3px -1px 18px #000);
    filter: contrast(72%);
    border-radius: 0px 100px 0px 100px;
}

.texto-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.texto-descricao p{
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #DBE9F0;
}

.descricao em {
    font-weight: bold;
}

.outros-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
}

.personal-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 396px;
}

.titulo-detalhes h2 {
    font-family: 'Fredoka', sans-serif;
    font-size: 30px;
    color: #DBE9F0;
    font-weight: 500;
    text-align: center;
}

.detalhes {
    display: flex;
    gap: 40px;
}

.items-detalhes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
    padding-right: 40px;
    border-right: 2px solid #DBE9F0;
}

.items-detalhes  li {
    color: #1A374D;
    background-color: #DBE9F0;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 4px;
}

.info-detalhes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
}

.info-detalhes li {
    color: #DBE9F0;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    border-radius: 4px;
}

.interests {
    width: 45%;
    height: 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo-interesses h2{
    font-family: 'Fredoka', sans-serif;
    font-size: 30px;
    color: #DBE9F0;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.container-interesses{
    width: 100%;
}

.blocao {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bloquinho {
    height: 120px;
    width: 22%;
    background-color:  #DBE9F0;
    border-radius: 10%;
    box-shadow: -1px -1px 91px 0px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.85);
    transition: 0.5s;
    cursor: pointer;
}

.bloquinho:hover {
    transform: scale(1.05);
}

.bloquinho span {
    color: #1A374D;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

/* FIM PRIMEIRA PARTE MAIN */




/* INICIO SEGUNDA PARTE MAIN */
.secundary {
    background-color: #DBE9F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titulo-secundary {
    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secundary h2{
    font-family: 'Fredoka', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #0E1F2C;
    border-bottom: 3px solid #0E1F2C;
    margin-bottom: 5px;
}

.titulo-secundary hr {
    width: 100px;
    height: 3px;
    background-color: #0E1F2C;
    border: none;
}

.conteudo-secundary {
    width: 60%;
    height: 400px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-secundary {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    height: 20%;
    border-radius: 8px;
}

.skills span {
    font-family: 'Fredoka', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #000C42;
    padding-left: 20px;
}

.skills .barra-progresso {
    width: 80%;
    height: 10px;
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #0E1F2C;
}

.barra-progresso p {
    width: 50%;
    height: 100%;
    background-color: #2ec4b6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.barra-progresso span{
    height: 40px;
    width: 20px;
    background-color: #2ec4b6;
    color: #fff;
    border-radius: 100%;
    font-size: 10px;
    transform: scale(0.75);
    position: relative;
    right: -20px;
}

/**** SCROLL REVEAL ***/

.introducao-main, .personal-details, .interests{
    visibility: hidden;
}


/**** SCROLL REVEAL ***/