@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}





/* INICIO HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #181818;
    width: 100%;
    height: 650px;
}

header ul {
    display: flex;
    list-style: none;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    width: 90%;
}

.links-internos ul {
    display: flex;
    gap: 40px;

}

.link {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 3.0rem;
    font-weight: 300;
    border-radius: 2px;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ADFFB4;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }


.logo h2 {
    font-size: 3.0rem;
    font-weight: 400;
    color: #ffffff;
}

.logo span {
    animation: logoAnimation 6s linear 0s infinite normal forwards;
}

.principal-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    margin-bottom: 70px;
}

.escrito-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 5.0rem;
    color:#ffffff;
    width: 50%;
}

#icon-colchete {
    color: #ADFFB4;
}

.escrito-header h1 {
    color: #ADFFB4;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 8.0rem;
    padding-right: 2px;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: myAnim 0.8s ease 0s infinite normal forwards;
    border-right: 2px solid #ADFFB4; 
}

.typing {
    animation: typing 3s ease 5ms 1 normal forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 800px;
    }
}

@keyframes myAnim {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

/* From cssbuttons.io by @alexmaracinaru */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #3a3f34;
    width: 70px;
    height: 70px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ADFFB4;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #3a3f34;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }


.imagem-header {
    width: 30%;
}

.imagem-header img {
    width: 100%;
    height: 300px;
    animation: animHeader 6s linear 0s infinite normal forwards;
}

@keyframes animHeader {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }


/*** FIM HEADER ***/






/* PRIMEIRA PARTE MAIN */
.main {
    background-color: #292929;
    display: flex;
    flex-direction: column;
}

.introducao-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 120px;
    width: 100%;
}

.titulo h2{
    border-bottom: 3px solid #ffffff;
    font-size: 5rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
    color: #ffffff;
}

.titulo .barra{
    border: none;
    background-color: #ffffff;
    color: #ffffff;
    width: 180px;
    height: 3px;
    margin: 0 auto;
}

.titulo {
    margin-bottom: 50px;
}

.descricao {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.img-descricao {
    width: 20%;
    height: 300px;
}

.img-descricao img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(-3px -1px 18px #000);
    filter: contrast(72%);
    border-radius: 0px 100px 0px 100px;
}

.texto-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.texto-descricao p{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #ffffff;
}

.descricao em {
    font-weight: bold;
    color: #ADFFB4;
}

.outros-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 100px;
}

.container-outros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.personal-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 396px;
}

.titulo-detalhes h2 {
    font-family: 'Fredoka', sans-serif;
    font-size: 3rem;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

.detalhes {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.items-detalhes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    border-right: 2px solid #ffffff;
    width: 40%;
}

.items-detalhes  li {
    color: #181818;
    background-color:   #ffffff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    border-radius: 4px;
}

.info-detalhes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    width: 50%;
}

.info-detalhes li {
    color: #ffffff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    border-radius: 4px;
}

.interests {
    width: 45%;
    height: 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo-interesses h2{
    font-family: 'Fredoka', sans-serif;
    font-size: 3.0rem;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

.container-interesses{
    width: 100%;
}

.blocao {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bloquinho {
    height: 120px;
    width: 22%;
    background-color:  #ffffff;
    border-radius: 10px;
    box-shadow: -1px -1px 91px 0px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.85);
    transition: 0.5s;
    cursor: pointer;
}

.bloquinho:hover {
    transform: scale(1.05);
}

.bloquinho span {
    color: #181818;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* FIM PRIMEIRA PARTE MAIN */




/* INICIO SEGUNDA PARTE MAIN */
.secundary {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titulo-secundary{
    margin-top: 100px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.titulo-secundary h2{
    font-family: 'Fredoka', sans-serif;
    font-size: 5.0rem;
    font-weight: 500;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
    margin-bottom: 5px;
}

.titulo-secundary hr{
    width: 100px;
    height: 3px;
    background-color: #ffffff;
    border: none;
}

.secundary-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.conteudo-secundary {
    width: 60%;
    height: 400px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-main-skill h2 {
    font-family: 'Fredoka', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

.container-secundary {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: scale(0.90);
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    height: 20%;
    border-radius: 8px;
}

.skills .nome-skill{
    font-family: 'Fredoka', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    color: #ffffff;
    padding-left: 20px;
    margin-bottom: 15px;
}

.skills .barra-progresso {
    width: 100%;
    height: 10px;
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    transition: 0.5s;
}

.skills .barra-progresso:hover {
    transform: scale(1.05);
}

.barra-progresso p {
    width: 50%;
    height: 100%;
    background-color: #ADFFB4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.barra-progresso span{
    height: 40px;
    width: 40px;
    background-color: #ADFFB4;
    color: #fff;
    border-radius: 100%;
    transform: scale(0.75);
    position: relative;
    right: -20px;
}

/* PORCENTAGENS */

.barra-progresso .oitenta {
    width: 80%;
}

.barra-progresso .noventa {
    width: 90%;
}

.barra-progresso .trinta {
    width: 30%;
}

.barra-progresso .quarenta {
    width: 50%;
}

.barra-progresso .sessenta {
    width: 60%;
}

.barra-progresso .setenta {
    width: 70%;
}

/* FIM PORCENTAGENS */


/* FIM SEGUNDA PARTE */





/* INICIO TERCEIRA PARTE */

.third-part {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292929;
}

.titulo-third {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

.titulo-third h2 {
    font-family: 'Fredoka', sans-serif;
    font-size: 5rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
}

.titulo-third h4 {
    font-family: 'Fredoka', sans-serif;
    font-size: 3rem;
    color: #ADFFB4;
    font-weight: 300;
}

.container-third {
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 150px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.678) 0px 20px 30px -10px;
    border: 0.25px solid #000a01;
    background-color: #383838c2;
    transform: scale(0.90);
}

#container-third-3 {
    margin-bottom: 50px;
}

.img-third {
    width: 36%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imagem-third {
    width: 100%;
    height: 60%;
    text-align: center;
}

.imagem-third img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 23px 6px rgba(10, 10, 10, 0.801) inset;
    transition: 0.5s;
    margin: 0 auto;
}

.imagem-third img:hover {
    transform: scale(1.05);
}



.descricao-third {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}


.descricao-third h1 {
    font-size: 3rem;
    font-family: 'Fredoka', sans-serif;
    text-align: start;
    color: #ADFFB4;
    z-index: 1000;
    transition: 0.5s;
    text-transform: initial;
    text-shadow: 21px 22px 3px rgba(152, 149, 150, 0.18);
}

.descricao-third h1:hover {
    cursor: pointer;
}

@keyframes hoverAnimation {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-100px);
    }
  }

.descricao-third span {
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.descricao-third p {
    font-size: 2.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #ffffff;
    text-align: start;
}

.linguagens ul{
    display: flex;
    list-style: none;
    margin-top: 30px;
    gap: 30px;
}

.linguagens li {
    font-size: 5rem;
    transition: 0.5s;
}

.linguagens li:hover {
    transform: scale(1.2);
}

.sair {
    overflow: hidden;
}

.footer-third {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 400px;
}

.footer-third h2 {
    width: 50%;
    height: 80%;
    font-size: 8rem;
    text-align: start;
    display: flex;
    align-items: center;
}

.footer-third a {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Fredoka', sans-serif;
    transition: 0.5s;
    text-shadow: 50px 28px 2px rgba(152, 149, 150, 0.55);
}

.footer-third a:hover {
    color: #ADFFB4;
    text-decoration: underline;
}

.footer-third img {
    width: 30%;
    height: 80%;
}

/* FIM PARTE 3 DO SITE */







/* PARTE FINAL DO SITE */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    background: #181818;
}

.titulo-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.titulo-footer button {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2.4rem;
    background-color: #ADFFB4;
    border: none;
    cursor: pointer;
}

.titulo-footer h1{
    font-size: 5rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
}

.container-footer {
    margin-top: 50px;
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.email-footer {
    width: 35%;
    height: 90%;
    border-right: 2px solid #ADFFB4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-email {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60%;
}

.email-footer span {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    width: 60%;
    text-shadow: 2px 8px 3px rgba(248, 243, 243, 0.082);
}

.email-footer a{
    width: 60%;
}

.botao {
    width: 100%;
    height: 70px;
    font-family: 'Fredoka', sans-serif;
    background-color: #181818;
    color: #fff;
    font-size: 3rem;
    border-radius: 10px;
    border: 2px solid #ADFFB4;
    transition: 0.5s;
}

.botao:hover {
    color: #181818;
    background-color: #ADFFB4;
    cursor: pointer;
    box-shadow: 13px 8px 10px 1px #000;
    transform: scale(1.03);
}

.redes-footer {
    width: 55%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagem-footer {
    width: 35%;
    height: 90%;
}

.imagem-footer img {
    width: 100%;
    height: 100%;
}

.texto-redes {
    width: 55%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.titulo-texto h3 {
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Fredoka', sans-serif;
    color: #fff;
    border-bottom: 2px solid #ADFFB4;
}

.listas-redes ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    position: relative;
    left: 20px;
}

.listas-redes li, .listas-redes a {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgb(212, 198, 198);
}

.listas-redes li:hover, .listas-redes a:hover {
    color: #fff;
    text-decoration: underline;
}

.listas-redes .icone {
    font-size: 3rem;
    margin-right: 5px;
}

.listas-redes .preto {
    color: rgb(161, 160, 160);
}

.listas-redes .vermelho {
    color: #f1c0e8;
}

.listas-redes .azul {
    color: #219ebc;
}
.listas-redes .verde {
    color: #52b788;
}


/**** SCROLL REVEAL ***/

.introducao-main, .personal-details, .interests, .titulo-secundary, .conteudo-secundary, .container-third, .container-footer {
    visibility: hidden;
}

/**** SCROLL REVEAL ***/




@media (max-width: 1050px) {
    html {
        font-size: 55%;
    }
    .cabecalho {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        display: none;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 45%;
    }
    body {
        max-width: 100%;
    }
    .img-descricao img {
        width: 100%;
        height: 90%;
    }
    .container-outros {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .personal-details {
        width: 100%;
        height: 380px;
        margin-bottom: 50px;
    }

    .detalhes {
        width: 80%;
    }
    .titulo-detalhes h2 {
        font-size: 3.5rem;
    }
    
    .items-detalhes {
       width: 50%;
    }
    .info-detalhes {
        align-items: flex-end;
        width: 50%;
    }
    .interests {
        width: 80%;
        height: 380px;
    }
    .secundary-main {
        display: flex;
        flex-direction: column;
    }
    .conteudo-secundary {
        width: 80%;
    }
    .container-third {
        width: 90%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .descricao-third {
        width: 70%;
        height: 40%;
    }
    .img-third {
        width: 70%;
        height: 50%;
    }
    .footer-third img {
        width: 30%;
        height: 70%;
    }
    .imagem-footer {
        width: 35%;
        height: 80%;
    }
    .email-footer {
        width: 35%;
        height: 80%;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 35%;
    }
    header {
        height: 500px;
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 400px;
        }
    }
    
    .link {
        font-size: 3.5rem;
    }
    .cta:before {
        width: 50px;
        height: 50px;
    }
    .imagem-header img {
        width: 100%;
        height: 200px;
    }
    .introducao-main {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .titulo .barra {
        width: 90px;
    }
    .img-descricao img {
        width: 100%;
        height: 80%;
    }
    .container-secundary {
        width: 100%;
        height: 100%;
    }
    .skills .nome-skill {
        font-size: 3rem;
    }
    .titulo-main-skill h2 {
        font-size: 4rem;
    }
    .skills .nome-skill {
        font-size: 4rem;
    }
    .container-third {
        width: 90%;
        height: 500px;
    }
    .footer-third img {
        width: 30%;
        height: 60%;
    }
    .titulo-footer button {
        width: 40px;
        height: 40px;
    }
    .container-footer {
        margin-top: 50px;
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
    }
    .email-footer {
        display: none;
    }
    .redes-footer {
        margin-top: 20px;
        width: 90%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    footer {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 25%;
        max-width: 100%;
    }
    body {
       max-width: 100%;
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 300px;
        }
    }
    header {
        height: 400px;
    }
    .cta:before {
        width: 40px;
        height: 40px;
    }
    .titulo .barra {
        width: 60px;
    }
    .img-descricao img {
        width: 0%;
        height: 0%;
        display: none;
    }
    .descricao {
        width: 100%;
        height: 200px;
        justify-content: center;
        align-items: center;
    }
    .texto-descricao {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
    .img-descricao {
        width: 20%;
        height: 300px;
        display: none;
    }
    .texto-descricao p {
        font-size: 3rem;
    }
    .introducao-main {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .texto-descricao p {
        font-size: 3rem;
    }
    .info-detalhes {
        gap: 10px;
    }
    .personal-details {
        height: 280px;
    }
    .interests {
        width: 80%;
        height: 280px;
    }
    .bloquinho {
        height: 90px;
        width: 22%;
    }
    .blocao {
        height: 100px;
        width: 100%;
    }
    .conteudo-secundary {
        width: 100%;
        height: 350px;
        margin-bottom: 50px;
    }
    .titulo-third {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .container-third {
        width: 90%;
        height: 400px;
        margin-bottom: 50px;
    }
    .footer-third img {
        width: 30%;
        height: 50%;
    }
    .footer-third {
        width: 100%;
        height: 300px;
    }
    footer {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 20%;
    }
    header {
        height: 350px;
    }
    .imagem-header img {
        width: 100%;
        height: 150px;
    }
    .principal-header {
        height: 50%;
        margin-bottom: 40px;
    }
    .introducao-main {
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .titulo {
        margin-bottom: 0px;
    }
    .personal-details {
        height: 200px;
    }
    .items-detalhes li {
        padding: 5px;
    }
    .bloquinho {
        height: 60px;
        width: 22%;
    }
    .blocao {
        height: 80px;
        width: 100%;
    }
    .interests {
        width: 80%;
        height: 200px;
    }
    .titulo-secundary {
        margin-top: 25px;
        margin-bottom: 50px;
    }
    .titulo-secundary hr {
        width: 20px;
        height: 1.5px;
        background-color: #ffffff;
        border: none;
    }
    .barra-progresso span {
        height: 30px;
        width: 30px;
    }
    .container-secundary {
        width: 100%;
        height: 100%;
        position: relative;
        left: -20px;
    }
    .skills .barra-progresso {
        width: 100%;
        height: 5px;
    }
    .container-third {
        width: 90%;
        height: 300px;
        margin-bottom: 50px;
    }
    .footer-third {
        width: 100%;
        height: 200px;
    }
    .container-footer {
        margin-top: 0px;
    }
    .titulo-footer button {
        width: 30px;
        height: 30px;
    }
    .descricao-third {
        width: 70%;
        height: 30%;
    }
    .descricao-third h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    .main {
        height: 700px;
    }

}

@media (max-width: 350px) {
    html {
        font-size: 15%;
    }
    header {
        height: 300px;
        justify-content: space-around;
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 200px;
        }
    }
    .imagem-header img {
        width: 100%;
        height: 100px;
    }
    .escrito-header {
        gap: 10px;
    }
    .cta span {
        font-size: 5rem;
    }
    .cta:before {
        width: 35px;
        height: 35px;
    }
    .link {
        font-size: 4rem;
    }
    .titulo .barra {
        width: 30px;
    }
    .texto-descricao p {
        font-size: 3.4rem;
        margin-bottom: 5px;
    }
    .personal-details {
        height: 170px;
    }
    .info-detalhes {
        gap: 5px;
    }
    .titulo-interesses h2 {
        font-size: 4rem;
    }
    .bloquinho {
        height: 50px;
        width: 22%;
    }
    .blocao {
        height: 70px;
        width: 100%;
    }
    .main {
        height: 700px;
    }
    .barra-progresso span {
        height: 25px;
        width: 25px;
    }
    .titulo-third {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .container-third {
        width: 90%;
        height: 250px;
        margin-bottom: 50px;
    }
    .footer-third {
        width: 100%;
        height: 150px;
    }
    footer {
        width: 100%;
        height: 200px;
    }
    .titulo-footer button {
        width: 20px;
        height: 20px;
    }
    .listas-redes ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        position: relative;
        left: 0px;
    }
    
}

@media (max-width: 300px) {
    html {
        font-size: 10%;
    }
    header {
        height: 250px;
        justify-content: space-around;
    }
    .cta:before {
        width: 30px;
        height: 30px;
    }
    .cta span {
        font-size: 5rem;
        position: relative;
        top: -5px;
    }
    .cta svg {
        position: relative;
        top: -3px;
    }
    .descricao {
        width: 100%;
        height: 100px;
    }
    .titulo h2 {
        border-bottom: 1.5px solid #ffffff;
    }
    .titulo .barra {
        width: 20px;
        height: 1.5px;
    }
    .personal-details {
        height: 140px;
    }
    .info-detalhes {
        gap: 10px;
    }
    .main {
        height: 600px;
    }
    .container-secundary {
        width: 100%;
        height: 70%;
        position: relative;
        left: -20px;
    }
    .conteudo-secundary {
        width: 100%;
        height: 250px;
        margin-bottom: 0px;
    }
    .titulo-main-skill h2 {
        border-bottom: 1.5px solid #ffffff;
    }
    .titulo-secundary {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .titulo-secundary h2 {
        border-bottom: 1.5px solid #ffffff;
    }
    .titulo-third {
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .titulo-third h2 {
        margin-bottom: 5px;
    }
    .container-third {
        width: 90%;
        height: 200px;
        margin-bottom: 50px;
    }
}